.container{
    font-family: 'Barlow Condensed', sans-serif;
}
body {
    background-color: lightslategray;
    display: block;
}

h2, p, .readme-wrapper {
    text-align: center;
}
a {
    color: mediumorchid; 
    text-decoration: none;
}
a:hover {
    background-color: purple;
}
.boxes { 
    margin: 300px; 
    width: 30em;
    padding: 10px; 
    margin: 1em; 
    border: 5px solid blue; 
    border-radius: 5px;
    position: relative;}

#box1 {
    background-color: chartreuse;
    bottom: 10px;
    left: 20px;
} 

#box2 {
    background-color: greenyellow;
    bottom: 10px;
    left: 20px;
}

#box3 {
    background-color: darkolivegreen;
    bottom: 10px;
    left: 20px;
}

#box4 {
    background-color: green;
    bottom: 10px;
    left: 20px;
}

.images {
    height: 50px;
    width: 50px ;
    border-radius: 50px;
    background-color: honeydew;
    position: relative;
    top: 50px;
    bottom: 10px;


}

.purplefont {
    color: blueviolet;
    text-decoration: solid;
}

.original {
   color: white;
}

.additional {
    color: skyblue;
}

#rank1 {
    color: seagreen
}

#rank2 {
    color: skyblue
}

#rank3 {
    color: blue;
}

#rank4 {
    color: teal
}

#rank5 {
    color: turquoise
}

ul {
    color: whitesmoke;
}

.star {
    color: green
}

.wars {
    color: lime
}

ul {
    border: 2px solid black;
}